*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}


.main{
    background-image: url("hostel.jpg");
   background-position: center;
   background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 60px;

}
.loginBox{
    height: 350px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 70px;
    box-shadow:0 4px 8px 0px rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
h2{
    font-size:50px;
}

h1{
    margin-top: 27px;
    color: rgb(110, 36, 5);
}
.Lcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.itext{
    text-align: center;
   
    height: 28px;
    width: 200px;
    border: 1px solid rgb(21, 20, 20);
    border-radius: 4px;
     box-shadow:2px 4px px 0px rgb(0, 0, 0) ;

}

h3{
    color: rgb(57, 27, 86);
    font-size: 24px;
}
.Loginbtn{
    height: 37px;
    width: 70px;
    font-weight: 700;
    border: 1px solid purple;
    border-radius: 15px;
    background-color: rgb(188, 160, 224);
}
.Loginbtn:hover{
    background-color: rgb(92, 54, 128);
    color: azure;
    font-weight: 700;
}
.btnss{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    
    
}
p{
padding-bottom: 7px;
}
